QWidget#Widget{
    font-family: 'Microsoft YaHei UI';
    font-size: 14px;
    min-width: 1200px;
    min-height: 900px;
    max-width: 1200px;
    max-height: 900px;
}


QLabel#ComputerTableLabel {
    color: black;
    font-family: 'Microsoft YaHei UI';
    font-size: 14px;
}

QPushButton#ComputerTableRestartButton {
    min-width: 80px;
    min-height: 40px;
    max-width: 80px;
    max-height: 40px;
    border-radius: 5px;
    color: black;
    font-family: 'Microsoft YaHei UI';
    font-size: 14px;
}

    QPushButton#ComputerTableRestartButton:enabled {
        background-color: rgb(181, 187, 242);
    }

    QPushButton#ComputerTableRestartButton:hover {
        background-color: rgb(193, 197, 234);
    }

    QPushButton#ComputerTableRestartButton:pressed {
        background-color: rgb(158, 166, 242);
    }

QPushButton#ComputerTableShutdownButton {
    min-width: 80px;
    min-height: 40px;
    max-width: 80px;
    max-height: 40px;
    border-radius: 5px;
    color: black;
    font-family: 'Microsoft YaHei UI';
    font-size: 14px;
}

    QPushButton#ComputerTableShutdownButton:enabled {
        background-color: rgb(255, 126, 126)
    }

    QPushButton#ComputerTableShutdownButton:hover {
        background-color: rgb(255, 165, 165);
    }

    QPushButton#ComputerTableShutdownButton:pressed {
        background-color: rgb(252, 108, 108);
    }

QTableWidget#ComputerTable {
}
    QTableWidget#ComputerTable::item:alternate:!selected {
        background-color: white;
    }

    QTableWidget#ComputerTable::item:!alternate:!selected {
        background-color: rgb(245, 245, 245);
    }

QTableWidget QHeaderView#ComputerTable {
    color: black;
    font-family: 'Microsoft YaHei UI';
    font-size: 14px;
    min-height: 40px;
}